# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

node_modules
dist
cdk.out
.env
.env.local
.env.*.local

.DS_Store
src/.DS_Store
src/api/.DS_Store
repo_summary.txt
src/api/.env.dev
src/api/tsconfig.json
